.ui-controls {
    h5 {
        text-transform: uppercase;
        text-align: center;
    }
}

.ui-controls-topbar {
        border-top   : 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        min-height   : auto;

        &.row div:first-child {
            padding-left: 0;
        }

        &.row div:last-child {
            padding-right: 0;
        }

        .btn {
            border-radius: 0;
            padding: 1px 20px;
            outline: none;
        }
}

.ui-controls-devices {
    text-align: center;
}

.ui-controls-toolbar {
    text-align: right;
}