.config-box {
    .margin,
    .padding {
        input {
            width: 40px;
            font-size: 10px;
            padding: 0;
            line-height: 1.5em;
        }
    }
}

.config {
    .colorpicker-container {
        position: relative;
        height: 400px;
        width: 100%;
    }
}
