#accordion-section-themebuilder_styles .accordion-section-content {
    color: #656e73;
    background-color: #fff;
    padding: 0;
}

.customize-control {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #70767e;
    font-weight: 200;

    h5 {
        margin: 0;
        padding: 7px 5px 7px 10px;
        background-color: #e1e6ec;
        color: #58789a;

        font-size: 12px;
        letter-spacing: .1em;
        cursor: default;
        font-weight: 600;
        border-top: 1px solid #f5f7f8;
        text-transform: uppercase;
    }

    ul {
        margin: 15px 5px 5px 5px;

        li.title {
            margin-bottom: 5px;
        }
    }

    a.btn {
        border: 1px solid #d0d5dd;
        border-right: none;

        border-radius: 0;
        background-color: #fcfcfc;
        font-size: 10px;
        padding: 5px 10px;
        margin: 0;
        color: #97a9b8;
    }

    a.btn:hover {
        color: #6f7b86;
    }

    a.btn.active {
        color: #3e4652;
        background-color: #fff;
    }

    a.btn:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    a.btn:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #d0d5dd;
    }

    a.btn.advanced {
        color: #3e4652;
        box-shadow: none;
    }
}

.config {
    font-size: 12px;
    background-color: #f6f6f6;

    .colorpicker-container {
        position: relative;
        height: 400px;
        width: 100%;
    }

    .wrapper {
        margin-top: 10px;
    }

    span.label {
        border-radius: 3px;
        border: 1px solid #d0d5dd;
        color: #3e4652;
        line-height: 18px;
        padding: 6px 5px 7px 5px;
        font-size: 10px;
        background-color: #fcfcfc;

        .fa {
            min-width: 15px;
            text-align: center;
        }
    }

    input {
        font-size: 10px;
        line-height: 1.5em;
        border: 1px solid #d0d5dd;
        border-radius: 3px;
        box-shadow: none;
        outline: none;
    }

    .form-field {
        span.label:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        input:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}

.config-box {
    .wrapper {
        position: relative;
    }

    .dimensions {
        li {
            margin: 0 5px;
        }

        input {
            width: 45px;
        }
    }

    .alignment,
    .dimensions {
        text-align: center;

        li {
            display: inline-block;
        }

        .title {
            width: 100%;
        }
    }

    .alignment {
        .float-left .btn,
        .center-block .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        .normal .btn {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        .float-left .fa,
        .float-right .fa {
            padding-right: 2px;
        }

        .float-right .btn {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .margin-padding {
        height: 225px;
        margin-top: 0;
    }

    .margin,
    .padding {
        position: absolute;

        li {
            position: absolute;
        }

        input {
            width: 40px;
            padding: 0 0 0 4px;
        }
    }

    .margin {
        border: 1px dashed #d0d5dd;
        top: 0px;
        left: 10px;
        width: 275px;
        height: 205px;

        li.title {
            top: 15px;
            left: 10px;
        }

        li.top {
            top: 5px;
            left: 110px;
        }

        li.left {
            top: 85px;
            left: 5px;
        }

        li.right {
            top: 85px;
            right: 5px;
        }

        li.bottom {
            bottom: 5px;
            left: 110px;
        }
    }

    .padding {
        border: 1px solid #d0d5dd;
        top: 50px;
        left: 65px;
        width: 160px;
        height: 120px;

        li.title {
            top: 48px;
            left: 55px;
        }

        li.top {
            top: 5px;
            left: 55px;
        }

        li.left {
            top: 45px;
            left: 5px;
        }

        li.right {
            top: 45px;
            right: 5px;
        }

        li.bottom {
            bottom: 5px;
            left: 55px;
        }
    }
}

.config-typography {
    padding-bottom: 10px;

    ul.typography {
        position: relative;

        li {
            margin: 10px 0;
        }
    }

    .font {
        .family {
            display: block;
            font-size: 1.2em;
            padding: 7px;
            background-color: #fff;
            cursor: pointer;
            border-radius: 3px;
            margin-bottom: 10px;

            i.fa {
                color: #d0d5dd;
                margin-top: 2px;
            }
        }

        .font-size {
            float: left;

            .preset-size {
                color: #3e4652;
                min-width: 80px;
                text-align: left;
            }

            input {
                width: 45px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 1px solid #d0d5dd;
            }
        }

        .color {
            float: right;

            .color-picker {
                color: #3e4652;
                border-left: none;
            }

            input {
                width: 102px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .formatting {
        text-align: center;

        .alignment {
            float: left;
        }

        .transform {
            float: right;
        }
    }
}

.config-background {
    .background {
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 10px;

        li {
            display: inline-block;
            margin: 10px 0 0 0;

            &:first-child {
                margin-top: 0;
            }

            input {
                width: 70px;
                border-radius: 0;
                border-left: 0;
            }

            .btn.color-picker {
                border-left: 0;
            }
        }

        li.background-image.empty {
            color: #bdc4c8;
            border: 3px dashed #bdc4c8;
            border-radius: 5px;
            width: 90%;
            margin: 10px 0;
            min-height: 40px;
            padding: 10px;
            text-align: center;
            height: auto;
        }

        li.background-image {
            text-align: left;

            img {
                overflow: hidden;
                border: 1px solid #bdc4c8;
                border-radius: 5px;
                height: 35px;
                width: 160px;
            }

            .configure {
                border-left: 0;
                letter-spacing: 3px;
            }
        }
    }
}