.ui-layout {
    min-width: 1024px;
    width    : 100%;
    color    : #545f66;

    .drag-container {
        height        : 100px;
        position      : fixed;
        z-index       : 1000;
        pointer-events: none;

        > .column {
            width: 100% !important;
        }
    }

    .root {
        border       : 1px solid #d5dbdd;
        border-radius: 10px;
        background   : #fff;
        padding      : 15px;
        position     : relative;
        margin       : 30px auto 60px auto;
        transition   : all .2s;
        box-shadow   : 2px 2px 50px 10px rgba(0, 0, 0, 0.2);

        &.desktop {
            max-width: 1024px;
            min-width: 1024px;
        }

        .controls.add-row {
            margin: 20px auto 10px auto;
            border-bottom: none;
            width: 300px;
            text-align: center;

            .btn {
                outline: none;
            }
        }

        .container-row {
            margin: 20px 0 0 0;
        }
    }

    .row {
        background: #fff;
        padding: 0;
        position: relative;
        border-top: 5px solid #61c6cf;
        border-bottom-left-radius:  5px;
        border-bottom-right-radius: 5px;
        box-shadow   : 2px 0px 10px 0px rgba(0, 0, 0, 0.2);

        > .controls {
            padding      : 0;
            margin-bottom: 10px;

            .title {
                margin: 0 0 0 10px;
                font-size: 1.25em;
                color: #61c6cf;

                .btn {
                    background-color: #61c6cf;
                    color: #fff;
                    outline: none;
                }
            }
        }
    }

    .column {
        padding: 0 5px;
        margin : 0 0 20px 0;

        &:nth-child(2) {
            padding-left: 15px;
        }

        &:last-child {
            padding-right: 15px;
        }

        .inner {
            border-top: 5px solid #5bb7e9;
            border-bottom-left-radius:  5px;
            border-bottom-right-radius: 5px;
            box-shadow   : 2px 0px 10px 0px rgba(0, 0, 0, 0.2);
            padding: 0 0 15px 0;
            background-color: #fff;

            > .controls {
                padding: 0;

                .title {
                    margin: 0 0 0 10px;
                    font-size: 1em;
                    line-height: 22px;
                    color: #5bb7e9;

                    .btn {
                        background-color: #5bb7e9;
                        color: #fff;
                        outline: none;
                    }
                }
            }
        }

        .content,
        .container-row {
            margin: 10px;
            background: #dfebf6;
            border: 1px solid #bdcfe1;
            padding: 0;

            .controls {
                border-bottom: none;

                .title {
                    margin: 0;
                    color: #617e9c;
                    font-size: .9em;
                    height: 22px;
                    line-height: 22px;

                    .btn.icon {
                        margin-right: 10px;
                        font-size: 13px;
                    }

                    .btn {
                        background-color: #a1b2c1;
                        color: #fff;
                        outline: none;
                    }
                }
            }
        }
    }

    .drag-subject {
        opacity: .5;
        pointer-events: none;

        &.unmounted {
            pointer-events: auto;
        }
    }

    .btn {
        border-radius: 0;
    }
}