.idea
bower_components
node_modules
build/tmp
public/css/*.css
public/js
npm-debug.log
code/core/demodata.js
public/wp
code/wordpress/pagebuilder/resources/assets/css/*
code/wordpress/pagebuilder/resources/assets/js/*
code/wordpress/pagebuilder/resources/assets/fonts/*
font-awesome.css.map
fontawesome-webfont.eot
fontawesome-webfont.svg
fontawesome-webfont.ttf
fontawesome-webfont.woff
fontawesome-webfont.woff2
FontAwesome.otf
code/wordpress/weave/css
code/wordpress/weave/js