@import "bootstrap/bootstrap.less";

#ui-control-overlay {
    visibility: hidden;
    background: grey;
    position: absolute;
}

#alchemy-ui {
    position: absolute;
    height: 40px;
    border-top: 1px solid black;
    width: 100%;
    bottom: 40px;
}