@import "bootstrap/bootstrap.less";
@import "lib/elements.less";

#ui-control-overlay {
    position  : fixed;
    visibility: hidden;
    top       : 0;
    left      : 0;
    width     : 0;
    height    : 0;
    z-index: 1000;
    border: 1px dashed grey;
}

#alchemy-ui {
    position  : absolute;
    border-top: 1px solid #aaa;
    width     : 100%;
    min-height: 100px;
    height    : 150px;
    bottom    : 0;
    background: #ebeced;
}

#alchemy-body {
    overflow: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#content {
    height: 1000px;
}