.app-builder {
    display: grid;
    height: 100vh;

    grid-template-columns: [sidebar] 300px [content] 1fr;
    grid-template-rows: [topbar] 30px [canvas] 1fr [bottombar] 30px;

    &__sidebar {
        grid-column: sidebar;
        grid-row: topbar / end;
    }

    &__topbar {
        grid-column: content;
        grid-row: topbar;

        border-bottom: 1px solid #e9eeef;
    }

    &__bottombar {
        grid-column: content;
        grid-row: bottombar;
    }

    &__canvas {
        grid-column: content;
        grid-row: canvas;
        overflow: hidden;
    }
}
